div(class="folder w-20 h-20 items-center flex flex-col gap-2")
    div(class="w-full h-10 flex flex-col")
        img(src="/images/folders-yellow.svg" alt="")
        form(action="/createfolder" method="post")
            input(href="/folder" class="text-[.6vw] w-full" type="text" name="foldername" placeholder="NewFolder") 