<div class="card relative">
    <div class="hover-display-image hidden overflow-hidden w-96 h-96 fixed z-100 left-120 bottom-50 rounded-xl">
        <img src="" alt="" class="display-img object-center object-cover">
    </div>
    <div class="w-full h-60 flex flex-row flex-wrap">
        <div class="card-hover text-xs flex justify-center items-center underline w-1/2 h-1/2 ">Innovative</div>
        <div class="card-hover text-xs flex justify-center items-center underline w-1/2 h-1/2 ">Optimised</div>
        <div class="card-hover text-xs flex justify-center items-center underline w-1/2 h-1/2 ">Secured</div>
        <div class="card-hover text-xs flex justify-center items-center underline w-1/2 h-1/2 ">Flexible</div>
    </div>
    <p class="heading">Popular this month</p>
    <p>Powered By</p>
    <p>Uiverse</p>
</div>