<div
  class="w-50 h-20 rounded-[20px] shadow-lg shadow-zinc-700/50 bg-zinc-900 fixed bottom-10 left-1/2 -translate-x-1/2 flex justify-center items-center p-2 gap-4"
>
  <form id="upload-form" action="/drive/uploadfile" method="post" enctype="multipart/form-data">
  <input type="hidden" name="parentFolder" value="<%= typeof folder !== 'undefined' ? folder._id : '' %>">
  
  <label for="file-upload" class="upload-file-btn w-8 h-8 rounded hover:scale-200 cursor-pointer block">
    <img src="/images/upload.svg" alt="Upload File" />
  </label>
  <input type="file" id="file-upload" name="file" class="hidden" />
  <button type="submit" class="hidden">Upload</button>
</form>

  <div class="add-folder w-13 h-13 rounded hover:scale-200 cursor-pointer">
    <img src="/images/folder-add.svg" alt="Add Folder" class="fill-yellow-400" />
  </div>

  <div class="w-8 h-8 rounded hover:scale-200 cursor-pointer">
    <img src="/images/branch.svg" alt="Branch" />
  </div>
</div>