doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/hovercard.css')
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
  body(class="p-8 bg-zinc-950 text-zinc-100")
    block navbar
    block content
